<template>
  <div class="Product p-10">
    <div class="card flex flex-col rounded-md">
      <div class="imgBox">
        <img class="max-w-full rounded" :src="product.picture.large" alt="" />
      </div>
      <div class="content">
        <h2 class="text-lg mb-2 font-bold">{{ product.title }}</h2>
        <div class="flex items-center justify-between">
          <h4 class="text-lg font-semibold">برند :</h4>
          <span>{{ product.brand.name }}</span>
        </div>
        <div class="flex items-center justify-between">
          <h4 class="text-lg font-semibold">دسته بندی :</h4>
          <span>{{ product.category.title }}</span>
        </div>
        <div class="flex items-center justify-between">
          <h4 class="text-lg mb-2 font-semibold">قیمت از :</h4>
          <span>{{ product.price }} ریال</span>
        </div>
        <div class="w-full flex justify-center">
          <span
            class="m-auto text-white p-2 pt-1 rounded-lg"
            :class="product.is_exist ? 'bg-green-600' : 'bg-red-500'"
            >{{ product.is_exist ? 'موجود' : 'ناموجود' }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import type { PropType } from 'vue'
import { Product } from '~/types/interfaces/product'

export default Vue.extend({
  name: 'Product',
  props: {
    product: Object as PropType<Product>,
  },
})
</script>

<style>
.card {
  position: relative;
  width: 300px;
  height: 230px;
  background: white;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.card:hover {
  height: 430px;
}

.card .imgBox {
  position: relative;
  width: 230px;
  height: 230px;
  top: -60px;
  right: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: right;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
}
</style>
