<template>
  <div class="SearchBar m-5 w-full flex justify-center">
    <form class="form flex items-center p-1">
      <input
        v-model="searchWord"
        class="input w-full h-full ml-4 pr-5"
        placeholder="کالای مورد نظر خود را جستجو کنید ..."
      />
      <div
        class="search_btn bg-blue-600 h-full p-2 px-3 pt-1 flex items-center justify-center hover:scale-105"
        @click="onSubmit"
      >
        جستجو
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'SearchBar',
  data() {
    const searchWord: string = ''
    return {
      searchWord,
    }
  },
  methods: {
    onSubmit() {
      this.$emit('onSubmitSearch', this.searchWord)
      this.searchWord = ''
    },
  },
})
</script>

<style>
.form {
  width: 700px;
  min-width: 300px;
  height: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background: white;
}
.input {
  border-radius: 100px;
}
.input:focus {
  border: 1px solid gray;
  outline-offset: 0;
  outline: none;
}
.search_btn {
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
</style>
