@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Yekan;
    src: url('../fonts/yekan-font/yekan-regular.eot');
    src: url('../fonts/yekan-font/yekan-regular.eot?#iefix') format('yekan-regular'),
         url('../fonts/yekan-font/yekan-regular.woff') format('woff'),
         url('../fonts/yekan-font/yekan-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
