<template>
  <div
    class="Index container m-auto flex justify-center items-center flex-wrap pb-20 px-5"
  >
    <div class="w-full flex justify-center items-center m-8 mb-5">
      <h1 class="text-3xl font-semibold">موتور جستجوی کالا</h1>
    </div>
    <SerachBar @onSubmitSearch="handleSearchSubmit" />
    <Product v-for="product in products" :key="product.id" :product="product" />
    <div class="w-full flex justify-center">
      <div
        class="rounded-full bg-blue-600 text-white text-xl p-3 pt-2 cursor-pointer hover:scale-105"
        @click="nextUrl"
      >
        نتایج بیشتر
      </div>
    </div>
    <div
      v-if="loading"
      class="fixed bg-white opacity-90 w-full h-screen top-0 z-20 flex justify-center items-center"
    >
      <img src="@/assets/images/97952-loading-animation-blue.gif" alt="" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import ProductCard from '~/components/ProductCard.vue'
import SerachBar from '~/components/SerachBar.vue'
import { API, Product } from '@/types/interfaces/product'

export default Vue.extend({
  name: 'IndexPage',
  components: {
    ProductCard,
    SerachBar,
  },
  data() {
    const fetchedData: API | undefined = {
      next: '',
      previous: null,
      results: [],
    }
    const products: Array<Product> = []
    const url: string | null = 'https://api.superz.ir/api/search'
    const loading: boolean = false
    return {
      fetchedData,
      products,
      url,
      loading,
    }
  },
  methods: {
    nextUrl() {
      if (this.fetchedData.next) {
        this.url = this.fetchedData.next
      }
    },
    handleSearchSubmit(word: string) {
      this.products = []
      this.url = `https://api.superz.ir/api/search/?search=${word}`
    },
  },
  watch: {
    url(newUrl) {
      this.$fetch()
    },
  },
  async fetch() {
    this.loading = true
    this.fetchedData = await axios
      .get(this.url)
      .then((response) => {
        return response.data
      })
      .catch((error) => console.log(error))
    this.products = [...this.products, ...this.fetchedData.results]
    this.loading = false
  },
})
</script>

<style>
body {
  font-family: 'Poppins', 'Yekan', sans-serif;
  background: #fff8e1;
  direction: rtl;
}
</style>
